<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= labelerDisplayName %></title>
  <style>
    <%- include('../partials/styles.css'); %>
  </style>
</head>
<body>
  <main>
    <div class="relative grid min-h-screen grid-cols-[1fr_auto_1fr] bg-gray-900 text-gray-50 font-inter">
      <div title="labels" class="col-start-2 my-3 flex flex-col text-sm/loose">
        <div class="ml-2.5 flex items-center rounded-2xl">
          <img src="<%= labelerAvatarUrl %>" class="h-16 rounded-lg" alt="Tailwind Play" />
          <h1 class="ml-2.5 text-2xl font-semibold"><%= labelerDisplayName %></h1>
        </div>
        <% let labelCount = 1 %>
        <% selfServeLabels.forEach(function(category) { %>
          <div class="mt-3 rounded-lg bg-gray-800 p-3">
            <% if (category.name.length > 0) { %>
              <p class="text-lg/loose"><%= category.name %></p>
              <hr class="text-gray-400 my-1"/>
            <% } %>
            <ol start="<%= labelCount %>" class="list-inside list-decimal" style="columns: <%= columns %>">
              <% category.labels.forEach(function(labelName) { %>
                <li>
                  <%= labelName %>
                </li>
              <% }); %>
            </ol>
            <% if (category.showVerificationNote === true) { %>
              <p class="text-right italic text-xs/loose"><%= manualVerificationNotice %></p>
            <% } %>
            <% labelCount += category.labels.length %>
          </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>